<!doctype html>
<!--[if lt IE 7 ]> <html id="ie6" lang="en" class="no-js"> <![endif]-->
<!--[if IE 7 ]>    <html id="ie7" lang="en" class="no-js"> <![endif]-->
<!--[if IE 8 ]>    <html id="ie8" lang="en" class="no-js"> <![endif]-->
<!--[if IE 9 ]>    <html id="ie9" lang="en" class="no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>
    <%= htmlWebpackPlugin.options.title %>
  </title>
  <meta name="description" content="<%= htmlWebpackPlugin.options.description %>">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


</head>

<body>
  <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

  <!-- application root container -->
  <div id="app-root"></div>

</body>

</html>
